<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WorkBBSService">

	<select id="getWorkBBSDetail" parameterType="Map" resultType="Map">
		SELECT /*[WorkBBSService.getWorkBBSDetail] 업무 게시판 상세조회*/
			   BBS.BBS_ID      AS bbsId
			 , BBS.BBS_TITLE   AS bbsTitle
			 , BBS.BBS_DESC    AS bbsDesc
			 , BBS.BBS_STATUS  AS bbsStatusCd
			 , CD.COMM_NM  AS bbsStatus
			 , (SELECT COMM_NM FROM HMP_COMM_CD CD2 WHERE CD2.GRP_CD = '2000' AND COMM_CD = WORK_TARGET ) AS workTarget
			 , BBS.ETC         AS etc
			 , (SELECT USER_NAME FROM HMP_USER WHERE USER_ID = BBS.REG_ID) AS regNm
			 , (SELECT USER_NAME FROM HMP_USER WHERE USER_ID = BBS.UPD_ID) AS updNm
			 , DATE_FORMAT(BBS.REG_DTM,'%Y-%m-%d') AS regDtm
			 , DATE_FORMAT(BBS.UPD_DTM,'%Y-%m-%d') AS updDtm
		  FROM HMP_WORK_BBS BBS
		     , HMP_COMM_CD CD
		 WHERE BBS.BBS_STATUS = CD.COMM_CD
		   AND CD.GRP_CD = '1000'
		   AND BBS.USE_YN = 'Y'
		   AND BBS_ID = ${bbsId}
	</select>

	<select id="getWorkBBSList" parameterType="Map" resultType="Map">
		SELECT /*[WorkBBSService.getWorkBBSList] 업무 게시판 목록조회*/
			   BBS.BBS_ID      AS bbsId
			 , BBS.BBS_TITLE   AS bbsTitle
			 , BBS.BBS_DESC    AS bbsDesc
			 , CD.COMM_NM  AS bbsStatus
			 , DATE_FORMAT(BBS.REG_DTM,'%Y-%m-%d') AS regDtm
			 , DATE_FORMAT(BBS.UPD_DTM,'%Y-%m-%d') AS updDtm
			 , (SELECT USER_NAME FROM HMP_USER WHERE USER_ID = BBS.REG_ID) AS regNm
			 , (SELECT USER_NAME FROM HMP_USER WHERE USER_ID = BBS.UPD_ID) AS updNm
		  FROM HMP_WORK_BBS BBS
		     , HMP_COMM_CD CD
		 WHERE BBS.BBS_STATUS = CD.COMM_CD
		   AND CD.GRP_CD = '1000'
		   AND BBS.USE_YN = 'Y'
		   <if test="bbsStatus != null and bbsStatus != '' ">
		   AND BBS_STATUS = #{bbsStatus}
		   </if>
		   ORDER BY BBS.REG_DTM DESC
		 LIMIT #{pageInfo.startIndex}, #{pageInfo.pageSize}
	</select>
	<select id="getWorkBBSTotCnt" parameterType="Map" resultType="int">
		SELECT /*[WorkBBSService.getWorkBBSList] 업무 게시판 상세 조회*/
			   COUNT(*) AS totCnt
		  FROM HMP_WORK_BBS
		  <if test="bbsStatus != null and bbsStatus != '' ">
		   AND BBS_STATUS = #{bbsStatus}
		   </if>
		 WHERE USE_YN = 'Y'
	</select>

	<insert id="insertWorkBBS" parameterType="Map" useGeneratedKeys="true" keyProperty="bbsId">
		INSERT /*[WorkBBSService.insertWorkBBS] 업무 게시판 등록*/
		  INTO HMP_WORK_BBS (
		       BBS_TITLE
			 , BBS_DESC
			 , WORK_TARGET
			 , REG_ID
			 , UPD_ID
			 , REG_DTM
			 , UPD_DTM
		  )  VALUES (
		       #{title}
		     , #{desc}
		     , #{workTarget}
		     , #{session.userId}
		     , #{session.userId}
		     , NOW()
		     , NOW()
		  )
	</insert>

	<update id="updateBBSStatus" parameterType="Map">
		UPDATE /*[WorkBBSService.updateBBSStatus] 게시판 상태 수정*/
		HMP_WORK_BBS SET
		 BBS_STATUS  = #{bbsStatus}
		,UPD_ID      = #{session.userId}
		,UPD_DTM     = NOW()
		WHERE BBS_ID = #{bbsId}
	</update>

	<update id="updateBBS" parameterType="Map">
		UPDATE /*[WorkBBSService.updateBBS] 게시판 수정*/
		HMP_WORK_BBS SET
		  BBS_TITLE   = #{bbsTitle}
		, BBS_DESC    = #{bbsDesc}
		, WORK_TARGET = #{workTarget}
		, UPD_ID      = #{session.userId}
		, ETC         = #{etc}
		, UPD_DTM     = NOW()
		WHERE BBS_ID = #{bbsId}
	</update>

	<update id="deleteBBS" parameterType="Map">
		UPDATE /*[WorkBBSService.deleteBBS] 게시판 삭제*/
		HMP_WORK_BBS SET
		 USE_YN      = 'N'
		,UPD_ID      = #{session.userId}
		,UPD_DTM     = NOW()
		WHERE BBS_ID = #{bbsId}
	</update>

	<insert id="insertBBSHistory" parameterType="Map">
		INSERT /*[WorkBBSService.insertBBSHistory] 게시판 수정 이력 등록*/
		INTO HMP_WORK_BBS_HIST (
			 BBS_ID
			,BBS_TITLE
			,BBS_DESC
			,BBS_STATUS
			,WORK_TARGET
			,ETC
			,USE_YN
			,REG_ID
			,REG_DTM
			,UPD_ID
			,UPD_DTM
		) SELECT BBS_ID
				,BBS_TITLE
				,BBS_DESC
				,BBS_STATUS
				,WORK_TARGET
				,#{etc} ETC
				,USE_YN
				,REG_ID
				,REG_DTM
				,UPD_ID
				,UPD_DTM
		   FROM HMP_WORK_BBS
		  WHERE BBS_ID = #{bbsId}
	</insert>

	<select id="selectBBSHistList" parameterType="Map" resultType="Map">
		SELECT /* [WorkBBSService.selectBBSHistList] 업무 상태 변경 이력 조회 */
		       B.BBS_STATUS AS bbsStatus
		     , DATE_FORMAT(B.UPD_DTM,'%Y-%m-%d') AS updDate
		     , (SELECT USER_NAME FROM HMP_USER WHERE USER_ID = B.UPD_ID) AS updNm
		  FROM HMP_WORK_BBS_HIST B
		 WHERE BBS_ID = #{bbsId}
		 ORDER BY UPD_DTM ASC
	</select>
</mapper>